:root{
    --primary: rgb(214, 20, 20);
}


body{
font-family: 'Poppins', sans-serif;
}

/**Color del punto*/

.text-primary{
    color: var(--primary) !important;
} 

.navbar{
    min-height:90px;
}

.dropdown-item{
    color: var(--primary);
}

.content{
    width:500px;
  }
  

#hero{
    height: 750px;

}

.navbar-toggler:focus{
    box-shadow: none;
}


@media (max-width: 992px){
    .navbar{
        position: relative !important; 
    }
}